asgiref==3.5.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.1.4
django-phonenumber-field==7.0.1
idna==3.4
phonenumberslite==8.13.2
Pillow==9.3.0
python-decouple==3.8
requests==2.31.0
sqlparse==0.4.3
stripe==5.4.0
urllib3==2.0.3
