{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="">
        <h3> Select a delivery address</h3>

        <form action="/cart/delivery" method="post">
        {% csrf_token %}
        {% if addresses %}
            <div class="addresses">
            {% for address in addresses %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexAddress" id="flexRadioDefault1" value="{{ address.name }}">
                    <label class="form-check-label" for="flexRadioDefault1"> {{ address.name }} </label>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <a href="{% url 'my_account:new_address' %}" class="btn btn-info"> Add a new address </a>
        {% endif %}
    <div class="">
        <h3> Select a delivery carrier </h3>
        <div>
        {% for delivery in deliveries %}
                <div class="form-check" style="background-color: azure; margin-bottom: 0.2rem">
                    <input class="form-check-input" type="radio" name="flexCarrier" id="flexRadioDefault1" value="{{ delivery.id }}">
                    <label class="form-check-label" for="flexRadioDefault1"> {{ delivery.name }} <br>{{ delivery.price }}€ <br>{{ delivery.time_days }} days</label>
                </div>
        {% endfor %}
        </div>
    </div>
        <button class="btn btn-info"> Go to pay </button>
    </form>
    </div>
</div>
{% endblock %}