{% extends 'base.html' %}

{% block content %}
    <section class="pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-2"></div>
                <div class="col-lg-8 col-md-8 col-8">
                    <h3 class="display-6 mb-2 text-center">Shopping Cart</h3>
                    <p class="mb-3 text-center">
                        {{ products_number }} item(s) in your cart
                    </p>
                    <table class="table table-condensed table-responsive">
                        <thead>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-9 mt-sm-2">
                                        <p class="center"><b>Product</b></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="mt-sm-2">
                                    <p class="text-center"><b>Price</b></p>
                                </div>
                            </td>
                            <td>
                                <div class="mt-sm-2">
                                    <p class="text-center"><b>Quantity</b></p>
                                </div>
                            </td>
                            <td>
                                <div class="mt-sm-2">
                                    <p class="text-center"><b>Actions</b></p>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_article in cart_articles %}
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <img width="30" height="30" src="{{ cart_article.picture.url }}" alt=""
                                                 class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                                        <div class="col-md-9 mt-sm-2">
                                            {{ cart_article.name }}{{ org }}
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">
                                    <div class="mt-sm-2">
                                        <p class="text-center">${{ cart_article.price }}</p>
                                    </div>
                                </td>
                                <td data-th="Quantity">
                                    <div class="input-group mb-3">
                                      <select class="custom-select" id="inputGroupSelect01">
                                        <option selected> {{ cart_article.quantity }}</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                      </select>
                                    </div>
                                </td>
                                <td class="actions">
                                    <div class="mt-sm-2 text-center">
                                        <a href="{% url 'delete-product-to-cart' cart_article.slug %}" class="btn btn-outline-danger btn-sm btn-md mb-2">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 text-muted">
                            Subtotal: {{ total }} €
                        </div>

                        <div class="col-lg-6 col-md-6 col-6 d-flex flex-row-reverse">
                            <form action="/cart/" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-info"> Checkout </button>
                            </form>
                            <a href="{% url 'address_delivery_selection' %}" class="btn btn-sm btn-primary">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-2"></div>
            </div>
        </div>
    </section>
{% endblock %}