{% extends 'base.html' %}
{% block content %}

    <div class="container">
        {% if filters %}
        <header class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom">
            <ul class="nav col-auto col-md-auto mb-2 justify-content-center mb-md-0">
                {% for filter in filters %}
                <li><a href="{% url 'product_filters' filter %}" class=" btn btn-outline-dark btn-filter rounded-pill px-2 me-1">{{ filter }}</a></li>
                {% endfor %}
            </ul>
        </header>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {% for product in products|slice:"0:3" %}
                        <div class="col">
                            <div class="card mt-4">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.picture.url }}" alt="{{ product.name }}" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <a class="text-dark decoration-none" href="{{ product.get_absolute_url }}">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                    </a>
                                    <p class="card-text"><small class="text-muted">{{ product.price }}$</small></p>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-foot">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'add-to-cart' product.slug %}"
                                               class="btn btn-sm btn-outline-success"><i class="bi bi-bag-plus"></i>&nbspTo
                                                Cart</a>
                                            <a href="{% url 'add-to-favorite' product.id %}"
                                               class="btn btn-sm btn-outline-danger"><i
                                                    class="bi bi-suit-heart-fill"></i>&nbspFavorite</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}