{% extends 'base.html' %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-2">
                <h5> Filter : </h5>
                {% csrf_token %}
                {% if filters %}
                {% for filter in filters %}
                    <div class="form-check">
                    <a href="{% url 'product_filters' filter %}">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></a>
                      <label class="form-check-label" for="flexCheckDefault">
                          {{ filter}}
                      </label>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-10">
                <div class="row">
                    {% for product in products|slice:"0:3" %}
                        <div class="col">
                            <div class="card mt-4">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.picture.url }}" alt="{{ product.name }}" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <a class="text-dark decoration-none" href="{{ product.get_absolute_url }}">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                    </a>
                                    <p class="card-text"><small class="text-muted">{{ product.price }}$</small></p>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-foot">
                                        {% if product.quantity != 0 %}
                                            <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-sm btn-outline-success"><i class="bi bi-bag-plus"></i>&nbsp; To Cart</a>
                                        {% endif %}
                                        <a href="{% url 'add-to-favorite' product.id %}" class="btn btn-sm btn-outline-danger"><i class="bi bi-suit-heart-fill"></i>&nbsp; Favorite</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}