{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="">
        <h3> Select payment method </h3>

        <div>
       <form>
           {% csrf_token %}
           <div class="container p-0">
                <div class="card px-4">
                    <p class="h8 py-3">Payment Details</p>
                    <div class="row gx-3">
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Person Name</p>
                                {{form.name}}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Card Number</p>
                                {{form.card_number}}
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Expiry</p>
                                {{form.expiration_date}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">CVV</p>
                                {{ form.cvv }}
                            </div>
                        </div>
                        {%  if error %}
                            <h3 style="color: red"> Vérifier les informations de votre cartre.</h3>
                        {% endif %}
                        <div class="col-12">
                            <div class="">
                                <button id="pay-button" class="btn btn-info">Pay TOTAL</button>
                                <span class="fas fa-arrow-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </form>

        </div>

        <div>
            <div>
                <h1> Paypal</h1>
            </div>
        </div>
    </div>
</div>

    <script src="../../static/js/payment.js"></script>

{% endblock %}