{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <main>
            <div class="py-2 text-center">
                <h2>your payment</h2>
                <p class="lead">
                    enter your payment information.
                </p>
                <hr class="my-2 custom-hr mx-auto">
            </div>
            <div class="row">
                <div class="col-auto mx-auto">
                    <form class="needs-validation" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <label class="form-label">Name on card</label>
                                <input type="text" name="name"
                                       class="form-control {% if error %} is-invalid {% endif %}" id="name"
                                       placeholder="John Toe" autocomplete="off"
                                       required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="form-label">Credit card number</label>
                                <input type="text" name="card_number" class="form-control" id="card_number"
                                       placeholder="123456789"
                                       autocomplete="off" required>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="form-label">Expiration</label>
                                <input type="text" name="expiration_date"
                                       class="form-control {% if error_postal %} is-invalid {% endif %}"
                                       id="expiration_date"
                                       placeholder="01/23" autocomplete="off" required>
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label">CVV<span
                                        class="text-muted"></span></label>
                                <input type="text" name="cvv" class="form-control"
                                       id="cvv" autocomplete="off" placeholder="123">
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>
                        {% if error %}
                            <h3 class="error">Check your card information</h3>
                        {% endif %}
                        <hr class="my-4">
                        <div class="col-auto mx-auto text-center">
                            <button class="btn btn-outline-dark btn-filter rounded-pill px-2 py-2 me-1" type="submit">Pay</button>
                        </div>
                    </form>
                </div>
            </div>
       </form>

        </div>

    </div>

    <!-- <script src="../../static/js/payment.js"></script>-->

{% endblock %}