{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col mt-4">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-primary">{{ product.quantity }} pieces left</strong>
                      <h3 class="mb-0">{{ product.name }}</h3>
                      <div class="mb-1 text-muted">{{ product.price }}$</div>
                      <p class="card-text mb-auto">{{ product.description }}</p>
                        {% if user.is_authenticated %}
                        <div class="col-auto">
                            <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-sm btn-outline-success mt-2 me-2" ><i class="bi bi-bag-plus"></i>&nbsp;Add To Cart</a>
                            <a class="btn btn-sm btn-outline-danger mt-2 me-2" ><i class="bi bi-suit-heart-fill"></i>&nbsp;Add To Favorite</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ product.picture.url }}" alt="{{ product.name }}" width="400" height="500" class="bd-placeholder-img">
                    </div>
                  </div>
        </div>
    </div>
</div>

{% endblock %}