{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">

        <h3 style="text-align: center"> Your orders </h3>

        {% if orders %}
            {% for value in orders %}
                {% for val in value %}
                    <p> {{ val }}</p>
                {% endfor %}
            {% endfor %}

        {% else %}
            <p> You don't have orders, yet</p>
            <a href="{% url 'index' %}" class="btn btn-info"> Check the products </a>
        {% endif %}


    </div>

{% endblock %}