{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">

       {% if user.is_authenticated %}
                    <div class="dropdown me-2">
                        <a class="btn btn-success dropdown-toggle" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'my_account:home' %}">My account</a></li>
                        </ul>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
       {% else %}
           <div>
            <h3> Vous n'avez pas encore d'adresses renseignées </h3>
             <a href="{% url 'my_account:orders' %}"> <button type="button" class="btn btn-primary">Ajouter une adresse </button> </a>
           </div>
       {% endif %}

    </div>

{% endblock %}