{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h3 style="text-align: center"> Ajouter une nouvelle addresse</h3>
        {% if error %}
            <p style="color:red;"> Une adresse avec ce nom existe déjà</p>
        {% endif %}
       <form action="" method="post">
           {% csrf_token %}
           <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address*</label>
               {{form.name}}
           </div>
           <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">City*</label>
               {{form.city}}
           </div>
           <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Postal code*</label>
               {{form.postal_code}}
           </div>
           <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Address complement</label>
               {{form.address_complement}}
           </div>

           <button class="btn btn-info"> Submit </button>

       </form>

    </div>

{% endblock %}